In [1]:
import pandas as pd

In [2]:
pre_test_file_1 = 'd:/secprocessing/tmp/precsv/2021-05-09/0000788784-21-000007_pre.csv'

In [4]:
df = pd.read_csv(pre_test_file_1, header=0, delimiter="\t")

In [5]:
df

,adsh,tag,version,report,line,stmt,inpth,negating,rfile
0,0000788784-21-000007,DocumentInformationTable,dei/2020,1,1,CP,0,0.0,-
1,0000788784-21-000007,StatementClassOfStockAxis,us-gaap/2020,1,2,CP,0,0.0,-
2,0000788784-21-000007,ClassOfStockDomain,us-gaap/2020,1,3,CP,0,0.0,-
3,0000788784-21-000007,CommonStockMember,us-gaap/2020,1,4,CP,0,0.0,-
4,0000788784-21-000007,FirstandRefundingMortgageBondsNinePointTwoFive...,0000788784-21-000007,1,5,CP,0,0.0,-
...,...,...,...,...,...,...,...,...,...
296,0000788784-21-000007,OtherComprehensiveIncomeLossTax,us-gaap/2020,9,14,EQ,1,0.0,-
297,0000788784-21-000007,CommonStockDividendsPerShareCashPaid,us-gaap/2020,9,15,EQ,1,0.0,-
298,0000788784-21-000007,OtherComprehensiveIncomeLossNetOfTax,us-gaap/2020,9,16,EQ,1,0.0,-
299,0000788784-21-000007,ComprehensiveIncomeNetOfTaxIncludingPortionAtt...,us-gaap/2020,9,17,EQ,1,0.0,-
300,0000788784-21-000007,StockholdersEquityIncludingPortionAttributable...,us-gaap/2020,9,18,EQ,1,0.0,-

In [7]:
df.stmt.unique()

array(['CP', 'IS', 'CI', 'BS', 'CF', 'EQ'], dtype=object)

In [13]:
groupdf = df.groupby(by=["report",'stmt']).adsh.count()

In [15]:
groupdf # Series

report  stmt
1       CP      47
2       IS      28
3       CI      13
4       CI       9
5       BS      79
6       BS      10
7       CF      64
8       EQ      33
9       EQ      18
Name: adsh, dtype: int64

In [18]:
groupdf.to_frame().reset_index()

   report stmt  adsh
0       1   CP    47
1       2   IS    28
2       3   CI    13
3       4   CI     9
4       5   BS    79
5       6   BS    10
6       7   CF    64
7       8   EQ    33
8       9   EQ    18